#ignore train file
train
!train/

#ignore test file
test
!test/

*.json
*.zip
*.doc
*.docx
*.pdf
*.tmp

.idea/*
#log/*
corpus/nlpcc16-entity-data/*
text_classification-master/*
corpus/fiqa/*
FIQA_CNN/*
log/fiqa/*
MPCNN-sentence-similarity/sts/*


*.log
*.txt
*.xlsx
*.pyc
*.tsv
*.csv

